:root {
    /* CSS HEX */
    --silver: #abababff;
    --eerie-black: #1c2020ff;
    --charcoal: #2e4053ff;
    --lapis-lazuli: #3f6085ff;
    --white: #fefefeff;
}



.seccion3 {
    margin: 0 auto;
    width: 800px;
    /* Añade esquinas redondeadas */
    padding: 10px;

    text-align: center;

}

.titulos {
    color: rgb(0, 0, 0);
}

.input {
    border: none;
    /* Elimina el borde predeterminado */
    border-bottom: 2px solid #3f6085ff;
    /* Añade un borde inferior personalizado */
    border-radius: 0;
    /* Elimina cualquier esquina redondeada */
    padding: 5px;

}

.enviar {
    align-items: center;
}