
:root {
    /* CSS HEX */
    --silver: #abababff;
    --eerie-black: #1c2020ff;
    --charcoal: #2e4053ff;
    --lapis-lazuli: #3f6085ff;
    --white: #fefefeff;
}



.seccion3 {
    background-color: rgb(19, 83, 147);
    min-height: 100vh;
    place-items: center;
    margin: auto;
}

.contacto {
    text-align: center;
    color: rgb(253, 248, 248);
}

.contenedor {
    background-color: #3f6085ff;
    height: auto;
    display: flex;
    align-items: center;

}

.iconos1 {

    color: aliceblue;
    text-align: center;
    align-items: center;
    margin: 100px;

}

.iconos2 {
    height: 100px;
    color: #fefefeff;
    text-align: center;
    align-items: center;
    margin: 100px;
}

.phone,
.mail {
    height: 30px;
}



.formulario {
    margin-top: 50px;
}