:root {
	--color-primario: #1C2020;
	--color-secundario: #ABABAB;
	--color-terciario: #2E4053;
	--color-cuarto: #3F6085;
	--color-blanco: #FEFEFE;
	--font-roboto: 'roboto';
}


.seccion2 {
    min-height: 100vh;
    background-color: sil;
    padding-top: 8rem;
    font-family: var(--font-roboto);

}


.servicios {
    margin-top: 4rem;
    padding-left: 5rem;
}


.container-inf {
    margin-top: 4rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(146deg, rgba(255, 255, 255, 1) 24%, rgba(63, 96, 133, 1) 83%);
}

.container-img img {
    object-fit: cover;
}

.lista p::before {
    content: "\2022";
    color: brown;
    font-size: 18px;
    margin-right: 10px;
  }



  h3 {
    color: brown;
  }
p{
  margin-bottom: 0;
}

hr {
  margin: 5rem auto;
}