

:root {
    /* CSS HEX */
    --silver: #abababff;
    --eerie-black: #1c2020ff;
    --charcoal: #2e4053ff;
    --lapis-lazuli: #3f6085ff;
    --white: #fefefeff;
}


.seccion2 {
    min-height: 100vh;
    background-color: sil ;

}


.servicios {
    column-count: 2;
    margin-top: 4rem;
    padding-left: 5rem;
}