:root {
	--color-primario: #1C2020;
	--color-secundario: #ABABAB;
	--color-terciario: #2E4053;
	--color-cuarto: #3F6085;
	--color-blanco: #FEFEFE;
	--font-roboto: roboto;
}

.contenedor-main {
	height: 100vh;
	background-image: url(src/assets/img/img-mantenimiento.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-position-y: top;
}

 .contenedor-principal {
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(90deg, rgba(233, 233, 233, 0.426) 0%, rgba(165, 165, 165, 0.426) 100%);
}

.contenedor-texto {
	text-align: center;
	padding-left: 20px;
}

.server {
	color: #9B2D5B;
}

.titulo-principal {
	font-weight: bolder;
	color: #08213f;
	font-family: var(--font-roboto);
}

.subtitulo-principal {
	font-weight: bolder;
	color: #08213f;
	font-family: var(--font-roboto);
}

.text-acerca {
	font-size: larger;
	color: var(--color-terciario);
	font-family: var(--font-roboto);
}


