:root {
	--color-primario: #1C2020;
	--color-secundario: #ABABAB;
	--color-terciario: #2E4053;
	--color-cuarto: #3F6085;
	--color-blanco: #FEFEFE;
	--font-roboto:roboto;
}

.footer{
    color: var(--color-blanco);
    background-color: var(--color-terciario);
    min-height: 15vh;
}



.text-footer{
    font-family: var(--font-roboto);
}


.decode{
    color: #ec73a5;
}

p{
    margin-bottom: 0;
}

.tel{
    text-decoration: none;
    color: white;
}

.tel:hover{
    text-decoration: underline;
}